body{
    text-align:right;
}

.jumbotron-fluid
{
    background-image: url(../Images/image_3.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center bottom; 
}

.nav .nav-item a
{
color:black;
}
.nav .nav-item a:hover, .nav .nav-item a:focus
{
color:teal;
font-weight:600;
}

.container-fluid{
    width: 80%;
    text-align:left;
}

.container-fluid div
{
text-align: left;
}

.container
{
    text-align:left;
}

.active
{
font-weight:700;    
}


.mastfoot {
    text-align: center;
    bottom: 0;
    color: teal;
    font-size: 0.5em;
    margin-top:6em;
  }